<p id="notice">Book was successfully created.</p>

<p>
  <strong>Title:</strong>
  <
</p>

<p>
  <strong>Body:</strong>
  test
</p>

<a class="edit_263434" href="/books/263434/edit">Edit</a> |
<a class="back" href="/books">Back</a>